<div>
  <h1>DADOS DO INVESTIMENTO</h1>
  <p-card header="">
    <div style="display: flex; justify-content: space-between;" class="grid">
      <div style="display: grid">
        <span>Nome:</span>
        <span>{{ nome }}</span>
      </div>

      <div style="display: grid">
        <span>OBJETIVO:</span>
        <span>{{ investimentos[0].objetivo }}</span>
      </div>

      <div style="display: grid">
        <span>SALDO TOTAL:</span>
        <span>R$ {{ investimentos[0].saldoTotal }}</span>
      </div>
    </div>
  </p-card>
</div>

<h1 class="espacamento-top">RESGATE</h1>
<p-card header="" >
  <div class="card">
    <p-table [value]="dadosPreencherTabela" [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id" editMode="row">
        <ng-template pTemplate="header">
            <tr>
                <th>AÇÃO</th>
                <th>SALDO ACUMULADO</th>
                <th>VALOR A RESGATAR</th>
                <!-- <th style="width: 5rem"></th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-investimento let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="investimento">
                <td>{{ investimento.nome }}</td>
                <td>R$ {{ investimento.percentual }}</td>
                <td>
                  <input type="text" pInputText [(ngModel)]="investimento.valorResgate" realBrasilMask>
              </td>

            </tr>
        </ng-template>
    </p-table>
  </div>
</p-card>

<div class="espacamento-top">
  <p-card header="" styleClass="card-small">
    <div style="display: flex; justify-content: space-around" class="grid">
      <div style="display: grid">
        <h4>Valor Total do Resgate:</h4>
        <span>{{ valorResgate }}</span>
      </div>
    </div>
  </p-card>

  <div style="display: flex; justify-content: space-evenly; margin-top: 2rem;">
    <button pButton type="button" (click)="somarResgate($event)" label="Confirmar Resgate" styleClass="p-button-success"></button>
    <button class="btn-cancel" pButton type="button" label="Cancelar" styleClass="p-button-secondary"></button>
  </div>

</div>
